.ui-inputfield {
    margin: 0;
    outline: medium none;
    padding: 4px;
    font-weight: normal;
}

.ui-widget-header .ui-inputfield,
.ui-widget-content .ui-inputfield {
    font-weight: normal;
}